<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>NSMotionUsageDescription</key>
    <string>Detects a shake gesture to open the dev menu.</string>
    <key>RNWDevServerHost</key>
    <string>$(RNW_DEV_SERVER_HOST)</string>
    <key>RNWDevServerPort</key>
    <string>$(RNW_DEV_SERVER_PORT)</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsLocalNetworking</key>
      <true/>
    </dict>
  </dict>
</plist>
